section {
  padding: 100px 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.cat-info {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}

.temperament {
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.cat-info p {
  width: 600px;
  font-size: 20px;
  line-height: 1.2;
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 25%;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #000;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
